
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- container div for homepage -->
    <div class="container ">
    <!-- section for header -->
    <section class="header red">
        <div class="top-nav green">
            <div class="logo">
                <!-- <i class="fa-solid fa-users-medical"></i> -->
                <i class="fa-sharp fa-solid fa-bars"></i>
                <img src="/images/logoone.jpeg">
            </div>
            <div class="intro">
            <div class="intro-icon">
                <h3 class="title" >Specialist</h3>
               <span>Find a Doctor By Specialty</span>

            </div>
            <div class="intro-icon">
                <h3 class="title" >Health Facilities</h3>
               <span>Select Clinic</span>
            </div>
            <div class="intro-icon">
                <h3 class="title" >Doctor</h3>
               <span>Choose a good Doctor</span>
            </div>
            <div class="intro-icon">
                <h3 class="title" >Exam Packages</h3>
               <span>For General Health Check-up</span>
            </div>
            </div>
            <div class="support">

            </div>
        </div>
        <div class="image-nav red ">
            

        </div>
        <div class="bottom-nav green">
            

        </div>

    </section>

<!-- section For Popular specialty -->
<section class="popular-specialty">

</section>


<!-- section For Hospitals And Clinic -->
<section class="hospitals-and-clinic">

</section>

<!-- section For Doctors -->
<section class="doctors">

</section>

<!-- section For handBook -->
<section class="handbook">

</section>

<!-- section For Contact -->
<section class="contact">

</section>

<!-- footer -->
<footer>

</footer>
    
</div>

</body>
</html>